<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Crypto IoT</title>
</head>
<body>
  <nav>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
  </nav>
  <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>